@{
    ViewBag.Title = "Index";
}

<h3></h3>
<p><input id="btnSubmission" class="myButton" name="btnPost" type="button" value="Post a comment" onclick="parent.location = '/Home/Submission'" /></p>
<p><input id="btnSubmission" class="myButton" name="btnPost" type="button" value="View comments" onclick="parent.location = '/Home/ViewPost'" /></p>

