
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p><input id="btnSubmission" name="btnPost" type="button" value="Post a comment" onclick="parent.location = '/Home/Submission'" /></p>
<p><input id="btnSubmission" name="btnPost" type="button" value="View comments" onclick="parent.location = '/Home/ViewPost'" /></p>

