<style>
    .title{
        font-family:'Copperplate Gothic';
        font-weight:600;
    }
</style>

@{
    ViewBag.Title = "Submission";
}

<h3 class="title">Enter your comments here</h3>

<form method="post" action="@Url.Action("Authentication", "Home")">
    @{
        if (ViewBag.ErrorMessage != null)
        {
            if (ViewBag.ErrorCode == 0)
            {
                <p style="color:red">@ViewBag.ErrorMessage</p>
            }
            else
            {
                <p style="color:green">@ViewBag.ErrorMessage</p>
            }
            
        }
    }

    <p class="title">Email Address:</p>
    <p><input name="email" type="text" /></p>
    <p class="title">Title:</p>
    <p><input name="title" type="text" /></p>

    <p class="title">Description:</p>
    <p><textarea name="desc" rows="2" cols="22"></textarea></p>
    <p><input id="submit" class="myButton" type="submit" value="submit" /></p>

</form>

@Html.ActionLink("Back to Main menu", "Index")
